build/
updates/
.vscode
.DS_Store

# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserstate
buildServer.json
bin
scripts
ExportOptions.plist

# Task Master AI
.task-master/
task-master.config.json
.tm-cache/
